<h1 style=" text-align:center;"> 
		Projects 
</h1> 
<div class="card">
    <p-carousel [value]="projects" [numVisible]="2" [numScroll]="2" [circular]="true" [autoplayInterval]="5000">
        <ng-template let-project pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img [src]="project.imgpath" [alt]="project.name" class="product-image" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{ project.name }}</h4>
                        <h5 class="mt-0 mb-3">{{project.description}}</h5>
                        <div class="mt-5 flex align-items-center justify-content-center gap-2">
						<a [href]="project.repoURL" target="_blank">
							<p-button icon="pi pi-link" [rounded]="true"></p-button>
						</a>
                    </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
