ul{
    display: inline-block;
    
}

.project{
    display: flex;
    flex-direction: row;
}

img{
    width: 20vw;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

.img{
    border: 1px solid ghostwhite;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

li{
    line-height: 1.5;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: ghostwhite;
}

h3{
    color: #ff9f1c;
}
