mat-card{
    width: 40%;
    padding: 50px;
}

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }

  
  h2{
    text-align: center;
  }

  #fighters{
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
  }

  #engineer {
    background-color: #14213d;
  }

  #writer{
    background-color: #fca311;
  }
  #writerBtn {
    background-image: url('/src/assets/svgs/binary.svg');
    background-color: #ff9f1c;
  }
  mat-card-actions{
    justify-content: center;
  }

  #container{
    height: 100vh;
    padding: 50px;
  }