<div id="container">
  
<h2>Choose Your Fighter?</h2>
<section id="fighters">
    <mat-card id="engineer">
        <img mat-card-image src="assets/svgs/programmer.svg">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="engineer">Software Engineer       <mat-icon>
            code
        </mat-icon></button>
        </mat-card-actions>
      </mat-card>      
      <mat-card id="writer">
        <img mat-card-image src="assets/svgs/writer.svg">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="writerBtn" mat-raised-button routerLink="writer">Writer
          </button>
        </mat-card-actions>
      </mat-card>      
</section>

</div>