<div>
    <h2>Choose Your Fighter?</h2>
</div>
<section id="fighters">
    <mat-card id="engineer">
        <img mat-card-image src="assets/svgs/programmer.svg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Software Engineer</button>
        </mat-card-actions>
      </mat-card>      
      <mat-card id="writer">
        <img mat-card-image src="assets/svgs/writer.svg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button id="writerBtn" mat-raised-button>Writer
            <mat-icon>
                <img src="assets/svgs/binary.svg" width="15px;">
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>      
</section>
