<h1 style="text-align: center;">Training</h1>
<div class="trainings">
    <mat-card  class="example-card" *ngFor="let training of trainings">
        <mat-card-header>
          <mat-card-title>{{training.title}}</mat-card-title>
          <mat-card-subtitle>{{training.trainer}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngFor="let detail of training.details">
            <div style="margin: 5px">
                {{detail}}
            </div>
          </mat-card-content>
      </mat-card>
      <br>
    <mat-card> 
</mat-card>
</div>